body {
  margin: 0;
  font-family: "Rozha One", serif;
  min-height: 540px;
  flex-direction: column;
}

/* header */

header {
  background-color: #e2af15e9;
  justify-content: left;
}

#logo {
  height: 90px;
  width: 160px;
  padding: 40px 0 10px 80px;
}

/* top page */

#proof {
  margin: 0;
  padding-top: 40px;
}

#top {
  background: transparent url("./img/Imagine-de-fundal.png") 0;
  background-color: #e2af15cd;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}

/* bottom page */

#bottomAA {
  background-image: url("./img/Imagine-de-fundal.png");
  text-align: center;
}

#work {
  margin: 0;
  padding-top: 20px;
}

iframe {
  width: 50vw;
  height: 50vh;
  margin-bottom: 20px;
}

/* footer */

footer {
  background-color: rgb(31, 57, 77);
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: rgb(230, 230, 230);
}

.nav {
  list-style: none;
  justify-content: left;
}

.thekit {
  padding: 20px 0 0 80px;
  width: 50px;
}

.contact {
  list-style: none;
  justify-content: right;
}

.social {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.icones {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.icones li {
  margin-right: 15px;
}

.facebook img:last-child{
  display: none;
}
.facebook:hover img:last-child{
 display: block;
}
.facebook:hover :first-child{
  display: none;
}

.twitter img:last-child{
  display: none;
}
.twitter:hover img:last-child{
 display: block;
}
.twitter:hover :first-child{
  display: none;
}

.linkedin img:last-child{
  display: none;
}
.linkedin:hover img:last-child{
 display: block;
}
.linkedin:hover :first-child{
  display: none;
}

.google img:last-child{
  display: none;
}
.google:hover img:last-child{
 display: block;
}
.google:hover :first-child{
  display: none;
}

.nav li a:link,
.nav li a:visited,
.contact li a:link,
.contact li a:visited {
  color: grey;
  text-decoration: none;
}

.nav li a:hover,
.nav li a:active {
  color: white;
}

.contact li a:hover,
.contact li a:active {
  color: white;
}

/* responsive */

@media (max-width: 480px) {
  iframe {
    width: 90vw;
  }

  .row {
    flex-direction: column;
  }

  .thekit {
    padding: 0 0 10px 40px;
  }
}
